.user-list{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10px;
}

.user-list-element ul {
    list-style:none;
    padding: 1vw;
}

.user-list-element  li:first-child {
    border-bottom: #343A40 solid;
}

.user-list-element{
    border: 1px solid #343A40;
}

.Admin{
    background-color: darkorange;
}